<% if @article.errors.any?%>
<h2>The following errors are preventing you from being saved</h2>

<ul>
    <%@article.errors.full_messages.each do |m|%>
    <li> <%=m%> </li>
    <%end%>

</ul>
<%end%>


<%#created this file just to clean up the _form file this code could be ran in the form file above my <%= form_with( model: @article, local: true do |f|%>