<h1>About Triforge!</h1>
<h2>Company mission statement</h2>
<p>
TriForge is committed to providing best in class IT services. 
Our mission is to use tried and tested industry methods, 
as well as some innovative methods to keep business big and small up and running.</p><br><br>

<h3>Company philosophy and vision</h3>
<p>
 Exceed our client’s expectations & Insist on the Highest Standards
 Develop long term relationships with our clients
 Revolutionize, Invent and Simplify present and future technologies
 Continuously improve our employees through training and education
 Continuously improve our processes and services
 Always act with integrity, honesty and professionalism
 Think Big, Think Logical, be Actionable
 Earn Trust of Others by Delivering Quality Results
Vision: TriForges vision is to build worldwide innovation & to connect businesses with customers in a seamless manner.
</p><br><br>

<%= link_to 'Home page', root_path%> 