<div id="page-content">
        <div class="container" id="home-container">
            <div class="jumbotron text-center text-white" >
                    <h1 class="display-4">Welcome To TriBlog!</h1>
                    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                    <hr class="my-4">
                    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                    <%= link_to "Sign Up!", signup_path, class: "btn btn-success btn-lg"  %>     
            </div>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget gravida. A lacus vestibulum sed arcu non odio. Nullam eget felis eget nunc lobortis mattis aliquam faucibus purus. Faucibus ornare suspendisse sed nisi lacus. Faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Mattis enim ut tellus elementum sagittis. Dui faucibus in ornare quam viverra orci sagittis eu volutpat. Eget egestas purus viverra accumsan in nisl nisi scelerisque eu. Ante in nibh mauris cursus. Feugiat vivamus at augue eget arcu dictum varius duis at. Rhoncus urna neque viverra justo nec ultrices dui. Morbi non arcu risus quis varius quam quisque. Rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Consectetur adipiscing elit pellentesque habitant morbi tristique senectus et netus. Pretium fusce id velit ut tortor pretium viverra. Ante in nibh mauris cursus mattis molestie a. Mus mauris vitae ultricies leo integer malesuada nunc.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget gravida. A lacus vestibulum sed arcu non odio. Nullam eget felis eget nunc lobortis mattis aliquam faucibus purus. Faucibus ornare suspendisse sed nisi lacus. Faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Mattis enim ut tellus elementum sagittis. Dui faucibus in ornare quam viverra orci sagittis eu volutpat. Eget egestas purus viverra accumsan in nisl nisi scelerisque eu. Ante in nibh mauris cursus. Feugiat vivamus at augue eget arcu dictum varius duis at. Rhoncus urna neque viverra justo nec ultrices dui. Morbi non arcu risus quis varius quam quisque. Rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Consectetur adipiscing elit pellentesque habitant morbi tristique senectus et netus. Pretium fusce id velit ut tortor pretium viverra. Ante in nibh mauris cursus mattis molestie a. Mus mauris vitae ultricies leo integer malesuada nunc.</p>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget gravida. A lacus vestibulum sed arcu non odio. Nullam eget felis eget nunc lobortis mattis aliquam faucibus purus. Faucibus ornare suspendisse sed nisi lacus. Faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Mattis enim ut tellus elementum sagittis. Dui faucibus in ornare quam viverra orci sagittis eu volutpat. Eget egestas purus viverra accumsan in nisl nisi scelerisque eu. Ante in nibh mauris cursus. Feugiat vivamus at augue eget arcu dictum varius duis at. Rhoncus urna neque viverra justo nec ultrices dui. Morbi non arcu risus quis varius quam quisque. Rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Consectetur adipiscing elit pellentesque habitant morbi tristique senectus et netus. Pretium fusce id velit ut tortor pretium viverra. Ante in nibh mauris cursus mattis molestie a. Mus mauris vitae ultricies leo integer malesuada nunc.</p>
        </div>
 </div>

   
    <%# <%=link_to 'Articles', articles_path%> 
    <%# <%=link_to 'Create Article', new_article_path%>  
    <%# <%=link_to 'About', about_path%> 
   


    